* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.q {
   font-family: "Playfair Display", serif;
}

body {
 background: #020c2b;
 color: #fff;
 font-family: "Times New Roman", serif;
}


.container {
 width: 1200px;
 margin: 0 auto;
}


/* HEADER */
.header {
 padding: 5px 0;
}


.header__inner {
 display: flex;
 justify-content: space-between;
 align-items: center;
}


.logo {
    height: 80px;
   }

.w {
   transform: scale(1.6);
   padding-top: 20px;
}

.e {
   transform: scale(1.2);
   padding-bottom: 5px;
}

.r {
   transform: scale(1.5);
   padding-top: 30px;
}

.nav a {
 margin-left: 30px;
 color: #fff;
 text-decoration: none;
}


/* HERO */
.hero {
 background: url("./img/shoe.png") center/cover no-repeat;
 padding: 160px 0 200px;
}


.brand { font-size: 20px; }


.hero h1 {
 font-size: 96px;
 margin: 10px 0;
}


.hero h2 { font-size: 48px; }


.hero p {
 margin: 28px 0;
 font-size: 18px;
}


/* BUTTON */
.btn {
 background-color: #8E32C6;
 color: #fff;
 border: none;
 padding: 14px 40px;
 border-radius: 15px;
 cursor: pointer;
}




/* BENEFITS */
.benefits {
 background: url("./img/benefits-bg.png") center/cover no-repeat;
 padding: 140px 0;
}


.benefits__box {
 margin: auto;
 padding: 80px 90px; 
 display: flex;
 align-items: center;
 justify-content: space-between;
 list-style: none;
 border: 2px solid rebeccapurple;
}


.benefit {
 width: 260px;
 text-align: center;
}


.benefit img {
 height: 252px;
 margin-bottom: 40px;
}


.benefit p {
 font-size: 28px;
}

.benefit h3 {
 font-family: "Playfair Display", serif;
 font-weight: 400;
 font-size: 36px;
 color: #FFFFFF;
}

.line {
 width: 2px;
 height: 240px;
 background: rgba(255,255,255,.35);
}


/* REVIEWS */
.reviews {
 position: relative;
 padding: 140px 0;
 overflow: hidden;
}


.reviews::after {
 content: "";
 position: absolute;
 top: 0;
 right: 0;
 width: 35%;
 height: 100%;
 background: linear-gradient(
   270deg,
   rgba(0, 201, 255, 0.35),
   rgba(0, 201, 255, 0)
 );
 pointer-events: none;
}


.reviews h2 {
 text-align: center;
 font-size: 36px;
 margin-bottom: 70px;
 position: relative;
 z-index: 2;
}


.reviews__list {
 display: flex;
 justify-content: space-between;
 position: relative;
 z-index: 2;
 list-style: none;
 padding: 0;
 margin-bottom: 9px;
}


.review {
 width: 380px;
 padding: 40px;
 border-radius: 28px;
}


.review p {
 font-size: 29px;
 line-height: 1.4;
}


.blue {
   box-shadow: 0 15px 0 -4px #7d42c4, 0 32px 0 -12px #5c308f;
   background: linear-gradient(137deg, #00e5e6 7.29%, #00a8f7 26.04%, #9a76f9 62.5%, #cc5ec2 100%);
}
.pink {
   box-shadow: 0 15px 0 -4px #8469a5, 0 32px 0 -12px #6c4e8e;
   background: linear-gradient(137deg, #e65ee6 46.29%, #825fe4 90%);
}
.yellow {
   box-shadow: 0 15px 0 -4px #d4805e, 0 32px 0 -12px #985e48;
   background: linear-gradient(137deg, #ffc14d 10.29%, rgb(231, 120, 120) 60.79%, rgb(231, 60, 60) 87%);
}


.author {
 margin-top: 26px;
 display: flex;
 align-items: center;
}


.author img {
 width: 56px;
 height: 56px;
 border-radius: 50%;
 margin-right: 14px;
}


/* LEFT LEAF */
.leaf-left {
 position: absolute;
 left: 0;
 bottom: -30px;
 width: 420px;
 z-index: 1;
}


/* ORDER */
.order {
 background: url("./img/order-bg.png") center/cover no-repeat;
 padding: 140px 0;
 text-align: center;
}


.order h2 {
 font-size: 36px;
 margin-bottom: 50px;
}


.order__form {
 margin: auto;
}


.order__form input {
 width: 100%;
 margin-bottom: 18px;
 padding: 16px 22px;
 border-radius: 30px;
 border: none;
}

input.email {
   width: 700px
}
input.city {
   width: 440px;
}
input.country {
   width: 440px;
}
input.address {
   width: 440px;
}


/* FOOTER */
.footer {
 background: #061a3a;
 padding: 60px 0 30px;
 color: #ffffff;
 font-family: "Roboto", sans-serif;
}


.footer-container {
 width: 1200px;
 margin: 0 auto;
}


/* TOP */
.footer-top {
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
}


.footer-left p {
 margin: 0 0 12px;
 font-size: 16px;
 line-height: 1.5;
}


.footer-right {
 text-align: right;
}


.footer-right a {
 display: block;
 margin-bottom: 12px;
 color: #ffffff;
 text-decoration: underline;
 font-size: 16px;
}


/* LINE */
.footer-line {
 margin: 35px 0 25px;
 height: 1px;
 background: rgba(255, 255, 255, 0.3);
}


/* BOTTOM */
.footer-bottom {
 display: flex;
 justify-content: space-between;
 align-items: flex-end;
}


.footer-copy p {
 margin: 0;
 font-size: 14px;
 line-height: 1.6;
 opacity: 0.9;
}


/* LOGO */
.footer-logo {
 font-size: 20px;
 font-weight: 700;
 letter-spacing: 2px;
}

.brbrbr {
   list-style: none;
   display: flex;
}

.review .y {
   font-size: 14px;
   color: #D8D8D8;
}

.review {
  width: 380px;
  padding: 40px;
  border-radius: 28px;
  height: 420px;

  display: flex;
  flex-direction: column;
}

.review .page {
  margin-bottom: 10px;
}

.review .y {
  font-size: 14px;
  color: #D8D8D8;
  margin-bottom: 24px;
}

.review .author {
  margin-top: auto;
}

.q {
   font-size: 17px;
}
