* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


body {
 background: #020c2b;
 color: #fff;
 font-family: "Times New Roman", serif;
}


.container {
 width: 1200px;
 margin: 0 auto;
}


/* HEADER */
.header {
 padding: 30px 0;
}


.header__inner {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
